.sidebar{
    
    height: 100vh;
    position: sticky;
    top: 0;
    transition: all 0.7s;
    border-right: 1px solid #e3dee6;
    z-index: 10;
}

.sidebar .sidebar-header{
    height: 90px;
    padding-left: 1.2rem;
}

.sidebar .sidebar-header .arrow{
    position: absolute;
    top: 30px;
    font-size: 20px;
    color: #1e3a8a;
    background: white;
    cursor: pointer;
    display: flex;
}
.sidebar .sidebar-header img{
    height: 40px;
    width: 40px;
}
.sidebar .menu-data{
    position: relative;
    height: fit-content;
    transition: ease-out 0.8s;
}

.sidebar .menu-data ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

.sidebar .menu-data li{
    height: 40px;
    width: 100%;
    position: relative;
}
.sidebar .menu-data .active-link{
    align-items: center;
    display: flex;
    text-decoration: none;
    border-right: 4px solid #433895;
    color: #433895;
    font-size: 18px;
    font-weight: 700;
    height: 35px;
    width: 100%;
    margin: 0.65rem 0;
    padding: 0 0.7rem;
}
.sidebar .menu-data .active-link i{
    background: #a3c7c9;
}
.sidebar .menu-data .active-link:hover{
    color: #21268f; 
}
.sidebar .menu-data .normal-link{
    align-items: center;
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    margin: 0.65rem 0;
    padding: 0 0.7rem;
}
.sidebar .menu-data .normal-link:hover{
    color: #21268f;
     
}
.sidebar .menu-data .normal-link:hover span{
    font-weight: 700;
}
.sidebar .menu-data .normal-link:hover i{
    background: #a3c7c9;
}
.sidebar .menu-data .nav-icon{
    align-items: center;
    display: flex;
    height: 33px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 12px;
    margin-right: 22px;
    min-width: 33px;
    width: 33px;
}

.sidebar-image{
    z-index: -2;
}




/* .active-link{
    display: flex;
    align-items: center;
    border-right: 3px;
    border: #433895;
    width: 100%;
    height: 100%;
    color: black;

}
.active-link:hover{
    color: #21268f;
}
.normal-link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;

}
.normal-link:hover{
    color: #21268f;
} */